@model DiaryScheduler.Web.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "card", role = "form" }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <h4 class="card-title">Send verification code</h4>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    }
</div>