/*----------------------------------------------------------------------------*\
     Containers
--------------------------------------------------------------------------------

    All styles related to containers can be found here.

\*----------------------------------------------------------------------------*/

.site-main-container {
    padding-top: calculateRem(15px);
}

.alert-container {
    bottom: 15px;
    min-width: 100%;
    padding-left: calculateRem(15px);
    position: fixed;
    right: 0;
    z-index: 1500; // Make sure that the message is not hidden by Navbar.

    .alert {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: calculateRem(10px); // Reduce the margin by half when inside alert container.

        &:last-child {
            margin-bottom: 0; // Remove bottom margin from last alert.
        }
    }

    &:empty {
        display: none;
    }
}

@include media-breakpoint-up($md) {
    .alert-container {
        min-width: 500px;
    }
}
