//----------------------------------------------------------------------------\\
//   Variables
//------------------------------------------------------------------------------
//
//  This stylesheet contains all the variables used.
//
//  Contents
//  --------
//
//  1. Colours
//  2. Media queries
//
//----------------------------------------------------------------------------//

//  1. Default colours
//------------------------------------------------------------------------------

// Bootstrap replacement colours.
$colour-primary: #4285f4;
$colour-primary-dark: #0d47a1;
$colour-secondary: #343a40;
$colour-secondary-dark: #3E4551;
$colour-success: #00c851;
$colour-success-dark: #9933CC;
$colour-info: #33b5e5;
$colour-info-dark: #0099CC;
$colour-warning: #f80;
$colour-warning-dark: #FF8800;
$colour-danger: #ff3547;
$colour-danger-dark: #CC0000;

// Buttons.
$colour-btn-primary-bg: $colour-primary;
$colour-btn-primary-text: #fff;
$colour-btn-secondary-bg: $colour-secondary;
$colour-btn-secondary-text: #fff;
$colour-btn-success-bg: $colour-success;
$colour-btn-success-text: #fff;
$colour-btn-info-bg: $colour-info;
$colour-btn-info-text: #fff;
$colour-btn-warning-bg: $colour-warning;
$colour-btn-warning-text: #fff;
$colour-btn-danger-bg: $colour-danger;
$colour-btn-danger-text: #fff;

// Misc.
$colour-page-bg: #eee;
$colour-jumbotron-bg: #fff;

//  2. Media queries
//------------------------------------------------------------------------------

$xs: 0; // Extra small devices (default styling)
$sm: 576px; // Small devices (landscape phones, 576px and up)
$md: 768px; // Medium devices (tablets, 768px and up)
$lg: 992px; // Large devices (desktops, 992px and up)
$xl: 1200px; // Extra large devices (large desktops, 1200px and up)