/*----------------------------------------------------------------------------*\
     Buttons
--------------------------------------------------------------------------------

    All styles related to buttons can be found here.

\*----------------------------------------------------------------------------*/

.btn {
    border-radius: $size-button-border-radius;
    box-shadow: none;
}

// Primary varients.
.btn-primary {
    color: $colour-btn-primary-text;

    &:focus,
    &:hover {
        color: $colour-btn-primary-text;
    }
}

.btn-success {
    color: $colour-btn-success-text;

    &:focus,
    &:hover {
        color: $colour-btn-success-text;
    }
}

.btn-info {
    color: $colour-btn-info-text;

    &:focus,
    &:hover {
        color: $colour-btn-info-text;
    }
}

.btn-warning {
    color: $colour-btn-warning-text;

    &:focus,
    &:hover {
        color: $colour-btn-warning-text;
    }
}

.btn-danger {
    color: $colour-btn-danger-text;

    &:focus,
    &:hover {
        color: $colour-btn-danger-text;
    }
}

// Outline varients.
.btn-outline-primary {
    &:focus,
    &:hover {
        color: $colour-btn-primary-text;
    }
}

.btn-outline-success {
    &:focus,
    &:hover {
        color: $colour-btn-success-text;
    }
}

.btn-outline-info {
    &:focus,
    &:hover {
        color: $colour-btn-info-text;
    }
}

.btn-outline-warning {
    &:focus,
    &:hover {
        color: $colour-btn-warning-text;
    }
}

.btn-outline-danger {
    &:focus,
    &:hover {
        color: $colour-btn-danger-text;
    }
}