@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <h1>Welcome</h1>
        <p class="lead">This is the ASP.Net Core MVC & Web API diary scheduler.</p>
        <p>If you haven't already, please make sure the API is also running in order for this application to work. Use the button below to navigate to the scheduling area.</p>
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Scheduler" asp-action="Index">Go to the scheduler</a></p>
    </div>
</div>
