@model DiaryScheduler.Presentation.Web.Models.Scheduler.CalendarEventViewModel

@Html.AntiForgeryToken()

<div class="mb-3">
    <label asp-for="Title" class="form-label"></label>
    <input asp-for="Title" class="form-control" maxlength="100" type="text" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="mb-3">
            <label class="form-label" for="DateStarting">@Html.DisplayNameFor(x => x.DateFrom)</label>
            <input class="form-control" id="DateStarting" type="text" name="DateStarting" readonly />
            <input asp-for="DateFrom" type="hidden" />
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-3">
            <label class="form-label" for="DateEnding">@Html.DisplayNameFor(x => x.DateTo)</label>
            <input class="form-control" id="DateEnding" type="text" name="DateEnding" readonly />
            <input asp-for="DateTo" type="hidden" />
        </div>
    </div>
</div>