@model DiaryScheduler.Presentation.Web.Models.Scheduler.SchedulerIndexViewModel
@{
    ViewBag.Title = "Scheduler";
}

@Html.HiddenFor(x => x.CreateEventMoreOptionsUrl)
@Html.HiddenFor(x => x.EditEventUrl)
@Html.HiddenFor(x => x.CalendarSourceUrl)

<div class="card" data-page-name="index" id="scheduler-main-container">
    <div class="card-body">
        <div id="calendar"></div>
        <div class="form-group">
            <a class="btn btn-primary" href="@Model.CreateEventUrl" id="create-event-btn" title="Create a new event">Create</a>
            <button class="btn btn-info" id="export-events-btn" title="Export events" type="button">Export</button>
        </div>
    </div>
</div>
@*@{ Html.RenderAction("_ModalQuickCreate", "Scheduler", new { area = "" }); }
@{ Html.RenderAction("_ModalExport", "Scheduler", new { area = "" }); }*@