@{
    ViewBag.Title = "Scheduler";
}

<div class="container" page-require="scheduler" page-module-name="Scheduler" page-module-variable="index">
    <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
            <div class="form-group">
                <button class="btn btn-primary" id="create-event-btn" title="Create a new event" type="button">Create</button>
                <button class="btn btn-info" id="export-events-btn" title="Export events" type="button">Export</button>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderAction("_ModalQuickCreate", "Scheduler", new { area = "" }); }
@{ Html.RenderAction("_ModalExport", "Scheduler", new { area = "" }); }