@{
    ViewBag.Title = "Scheduler";
}

<div class="container" page-require="scheduler" page-module-name="Scheduler" page-module-variable="index">
    <div id="calendar"></div>
</div>
@{ Html.RenderAction("_ModalQuickCreate", "Scheduler", new { area = "" }); }