@{
    ViewBag.Title = "Scheduler";
}

<div class="container" page-require="scheduler" page-module-name="Scheduler" page-module-variable="index">
    <div id="calendar"></div>
    <div>
        <button class="btn btn-outline-primary" id="create-event-btn" title="Create a new event" type="button">Create</button>
        <button class="btn btn-outline-warning" id="export-events-btn" title="Export events" type="button">Export</button>
    </div>
</div>
@{ Html.RenderAction("_ModalQuickCreate", "Scheduler", new { area = "" }); }
@{ Html.RenderAction("_ModalExport", "Scheduler", new { area = "" }); }