/*----------------------------------------------------------------------------*\
     Cards
--------------------------------------------------------------------------------

    All styles related to cards can be found here.

\*----------------------------------------------------------------------------*/

.card {
    border: none;
    border-radius: $size-card-border-radius;
    box-shadow: 0 .1rem 1rem .25rem rgba(0,0,0,.05);
}

.card-header {
    background-color: transparent;
}

.card-footer {
    background-color: transparent;
}