@model DiaryScheduler.Web.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<div class="container">
    @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "card", role = "form" }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            <h4 class="card-title">Add a phone number</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Number)
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    }
</div>