<div class="alert alert-{{type}} animated slide-in-right" role="alert">
    <button aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    {{{message}}}
</div>