@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">This is the ASP.Net MVC diary scheduler.</p>
        <p>If you haven't already, please make an account to use the scheduler. If an account has been made, use the button below to navigate to the scheduling area.</p>
        <p>@Html.ActionLink("Go to the scheduler", "Index", "Scheduler", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>