<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diary Scheduler</title>
    <link href="~/dist/bundle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Diary Scheduler</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav" id="main-nav-links">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Scheduler" asp-action="Index">Scheduler</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div aria-hidden="true" class="alert-container" id="alert-container"></div>
    <div class="site-loader-backdrop js-loader-wrapper hidden" id="loader-wrapper">
        <div class="site-loader-container">
            <div class="site-loader"></div>
        </div>
    </div>
    <div class="site-main-container" id="site-main-container">
        <main class="container">@RenderBody()</main>
    </div>

    <script src="~/dist/bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
